<!DOCTYPE html>
<html lang="en">
<head>
  <title>Learning Management System | Student</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../Jquery/request.js"></script>
  <script src="../Jquery/login.js"></script>
  <script src="../Jquery/studentEvents.js"></script>
  <script src="../Jquery/student.js"></script>
  <script src="../Jquery/imageload.js"></script>
 <script src="../Jquery/jquery-3.3.1.min.js"></script>
<style>

</style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top navlogo">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="#"><img src="../Image/lms.png" style="width: 60px;margin: -10px;" class="img-circle"></a></li>
      <li><a href="admindashboard.html" class="webname" style="color: white;">Learning Management System</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
            <li><p id="userName"  style="padding-top: 25px; padding-right: 20px;"></p></li>
            <li> <p height="65" width="50" id="userImage"></p></li>
      <li><a href="index.html" style="margin: 9px; color: white;" class="aaa"> Sign Out &nbsp; <i class="fa fa-outdent" ></i></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="height: 7vh;"></div>

<div id="mySidenav" class="sidenav" >
        <a href="teacherassignment.html" id="teacher">Assignment &nbsp;&nbsp;&nbsp;<i class="fa fa-book"></i></a>
        <a href="studentassignment.html" id="student">Student &nbsp;&nbsp;&nbsp;<i class="fa fa-strikethrough"></i></a>
        <a href="teacherStudymaterial.html" id="class">Material &nbsp;&nbsp;&nbsp;<i class="fa fa-laptop"></i></a>
        <a href="studentDashboard.html" id="event">event &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-product-hunt"></i></a>
</div>

<div  class="container" style="margin-left:170px;margin-top: 20px;">

    <h1  class="signup text-center" style="font-family: times;padding: 10px;background: #2196F3;color: whitesmoke;">Profile</h1>

    <div class="jumbotron">
      
       <form enctype="multipart/FormData">
          <a class="btn btn-primary" data-toggle="modal" data-target="#update_image">Update profile image</a>
          <div class="modal fade" role="dialog" id="update_image">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <h3 class="modal-title">Update Profile picture</h3>
          </div>
          <div class="modal-body">
           <form enctype="multipart/FormData">
           <input type='file' onchange="readURL(this);" class="form-control" id="profile_image"/>
           <img id="user_image"  class="new_image" src="../image/userimage.png" width="200px" height="150px">
        </form>
          <div class="modal-footer">
          <a id="update_image_student" class="btn btn-success">Update</a>
         </div>
  
                        </div>
                    </div>
                </div>
       </div>
  
  
                   
                  <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control"/>
                    </div></p>
                   
                   <p> <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                     <input type="text" name="last_name" id="last_name" placeholder="Last Name" class="form-control"/>
                     </div> 
                    </p>
  
                    <p>
                      <div class="input-group">
                       
                          <p><i class="fa fa-male"></i>&nbsp;<input type="radio" name="gender" id="gender" value="male" checked>Male&nbsp;&nbsp;&nbsp; 
                           <i class="fa fa-female"></i>&nbsp;<input type="radio" name="gender" id="gender" value="female">Female&nbsp;&nbsp;&nbsp;
                          <i class="fa fa-transgender-alt"></i>&nbsp;<input type="radio" id="gender" name="gender" value="other">Other</p>   
                         </div>
                    </p>
                    <p>
  
                        <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                      <input type="text" name="subject" value="subject" id="subject" class="form-control selectpicker" readonly>
                      
                           </div>
                     </p>
            
                     <p>
                     <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <input type="text" name="semister" id="semister" class="form-control selectpicker" readonly>
                          
                    </div>
                </p>
            
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <input type="text" name="section" id="section" class="form-control selectpicker" readonly>
                   
            </div>
            </p>
            <input type="text" id="student_id" hidden>
  
                 <p><div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input type="email" name="email" id="email" placeholder="Your Email" class="form-control"/>
                </div></p>
  
                <p><div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="tel" name="contact" id="contact" placeholder="+977-00000000" maxlength="15" minlength="10" class="form-control"/>
                 </div></p>
  
                 <p><div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" name="password" id="password" placeholder="Password" class="form-control"/>
                </div></p>
      
      
                                         
            <button type="submit" id="update_student_profile" class="btn btn-success">update</button>
                                 
                              </form>
    </div>
  
</div>

<footer class="container-fluid text-center" id="footerdiv">
  <div class="row">
        <div id="footer" class="col-sm-12">
                <div id="divfoot1" class="col-sm-3">
                  <h2><b>Follow us<b></h2>
               <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.facebook.com" id="footerdiv"><i class="fa fa-facebook-official"></i>&nbsp;&nbsp;Facebook</a></p>
               <p><a href="http://www.twitter.com" id="footerdiv"><i class="fa fa-twitter"></i>&nbsp;&nbsp;twitter</a></p>
               <p>&nbsp;&nbsp;<a href="http://www.linkden.com" id="footerdiv"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;linkden</a></p>
          
                </div>
          
                <div id="divfoot2" class="col-sm-6">
                   <p><i class="fa fa-phone"></i>&nbsp;&nbsp;<b>+977-45888844, 451231313</b></p>
                   <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<b>lms@edu.gmail.com</b></p>
                   <p id="divfoot4"><b>Copyright ©2019. All Rights Reserved (Hidden Agile Developer)</b></p>
                  </div>

                  <div id="divfoot3" class="col-sm-3">
                        <h2>Be With us</h2>
                    <p><b>For the Bright future. Experience the best knowledge with the help our technology<br>
                    We are here for your bright future</b></p>
                
                      </div></div>
</footer>
</div>

<!-- update image modal -->
<div class="modal fade" role="dialog" id="update_image">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h3 class="modal-title">Update Profile picture</h3>
                          </div>
                          <div class="modal-body">
                            <form enctype="multipart/FormData">
                              <input type='file' onchange="readURL(this);" class="form-control" id="profile_image"/>
                              <img id="user_image"  class="new_image" src="../image/userimage.png" width="200px" height="150px">
                        </form>
                    <div class="modal-footer">
                  <Button id="update_image" class="btn btn-success">Update</a>
                      </div>

                      </div>

</body>
<script type="text/javascript">
  $(".button-collapse").sideNav();

new WOW().init();
</script>

</html>
