<!DOCTYPE html>
<html lang="en">
<head>
  <title>Learning Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../Jquery/request.js"></script>
  <script src="../Jquery/login.js"></script>
  <script src="../Jquery/eventManagement.js"></script>
 <script src="../Jquery/jquery-3.3.1.min.js"></script>
<style>

</style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top navlogo">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="#"><img src="../Image/lms.png" style="width: 60px;margin: -10px;" class="img-circle"></a></li>
      <li><a href="#" class="webname" style="color: white;">Learning Management System</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="signup.html" style="margin: 9px; color: white;" class="aaa"> Sign Out &nbsp; <i class="fa fa-outdent" ></i></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="height: 7vh;"></div>

<div id="mySidenav" class="sidenav" >
  <a href="teacherasignment.html" id="teacher">Assignment &nbsp;&nbsp;&nbsp;<i class="fa fa-book"></i></a>
  <a href="studentassignment.html" id="student">Student &nbsp;&nbsp;&nbsp;<i class="fa fa-strikethrough"></i></a>
  <a href="studymaterial.html" id="class">Material &nbsp;&nbsp;&nbsp;<i class="fa fa-laptop"></i></a>
  <a href="teacherProfile.html" id="event">Profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-product-hunt"></i></a>

</div>

<div  class="container" style="margin-left:80px;">

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-10">
      <h1  class="signup text-center">Teacher Dashboard</h1>
      
      <div class="container-fluid">
        <!-- first row -->
        <div class="row">
          <table class="table table-hover table-fixed" >
            <thead>
              <tr>
               <th class="col-xs-6">Event</th>
               <th class="col-xs-3">Event Date </th>
               <th class="col-xs-3">Upload Date</th>
               
               <!-- <th class="col-xs-1">Delete</th> -->
                         
              </tr>
            </thead>
               <tbody id="teacherEvents">
               </tbody>
           </table>
            
          </div>
        </div>
        <!-- end of first row -->
        <!-- second row -->
        <div class="row">
      
            
          </div>
        </div>
        <!-- end of second row -->
      </div>
    </div>
    

    
  </div>

  
</div>

<footer class="container-fluid text-center" id="footerdiv">
  <div class="row">
        <div id="footer" class="col-sm-12">
                <div id="divfoot1" class="col-sm-3">
                  <h2><b>Follow us<b></h2>
               <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.facebook.com" id="footerdiv"><i class="fa fa-facebook-official"></i>&nbsp;&nbsp;Facebook</a></p>
               <p><a href="http://www.twitter.com" id="footerdiv"><i class="fa fa-twitter"></i>&nbsp;&nbsp;twitter</a></p>
               <p>&nbsp;&nbsp;<a href="http://www.linkden.com" id="footerdiv"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;linkden</a></p>
          
                </div>
          
                <div id="divfoot2" class="col-sm-6">
                   <p><i class="fa fa-phone"></i>&nbsp;&nbsp;<b>+977-45888844, 451231313</b></p>
                   <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<b>lms@edu.gmail.com</b></p>
                   <p id="divfoot4"><b>Copyright ©2019. All Rights Reserved (Hidden Agile Developer)</b></p>
                  </div>

                  <div id="divfoot3" class="col-sm-3">
                        <h2>Be With us</h2>
                    <p><b>For the Bright future. Experience the best knowledge with the help our technology<br>
                    We are here for your bright future</b></p>
                
                      </div></div>
</footer>
</div>

</body>
<script type="text/javascript">
  $(".button-collapse").sideNav();

new WOW().init();
</script>

</html>
